body {
    padding: 0;
    margin: 0;
    background-color: #EDF1F2;
}

.create-project {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    margin: 15px;
    border-radius: 10px;
}

.create-project h2 {
    margin: 0;
}

.create-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.create-form input {
    background-color: #e6eaeb;
    border-radius: 5px;
}

.create-form button {
    margin-top: 10px;
    border-radius: 5px;
}